<div class="modal fade" id="addReviewDialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content text-monospace">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Write Review</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post">
                    <div class="row">
                        <div class="form-group col-8">
                            <input type="text" id="title" class="form-control" name="Input.Title" placeholder="Short Summary" required>
                        </div>
                        <div class="col-4">
                            <div id="stars" class="starrr"></div>
                            <input type="hidden" name="Input.Rating" id="rating" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <input type="text" id="companySearch" name="Input.CompanySearch" class="w-100 typeahead form-control mr-sm-2" placeholder="Company Name" />
                        </div>
                        <div class="form-group col-4">
                            <div class="custom-control custom-checkbox mt-4">
                                <input type="checkbox" class="custom-control-input" name="Input.Fresher" id="isFresher">
                                <label class="custom-control-label small" for="isFresher">Fresher?</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-4">
                            <select class="form-control" name="Input.AuthorInfo">
                                <option>Current Employee</option>
                                <option>Former Employee</option>
                            </select>
                        </div>
                        <div class="form-group col-4">
                            <input type="text" placeholder="Location" class="form-control" name="Input.Location" id="location">
                        </div>
                        <div class="form-group col-4">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" name="Input.Anonymous" id="customCheck1">
                                <label class="custom-control-label small" for="customCheck1">Go Anonymous?</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" placeholder="Describe here..." name="Input.Description" id="desc" rows="3" required></textarea>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name="Input.Pros" id="pros" rows="2" placeholder="What do you like"></textarea>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name="Input.Cons" id="cons" rows="2" placeholder="What do you dislike"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="Input.Tags" id="high" placeholder="Highlights">
                    </div>
                    <hr />
                    <button type="submit" class="btn btn-primary float-right" asp-page="Review">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>