@page
@model B4Interview.Pages.NewInterviewModel
@{
    ViewData["Title"] = "NewInterview";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="card w75">
    <form>
        <div class="form-group">
            <label for="title">Job Title</label>
            <input type="text" class="form-control" name="Input.Title">
        </div>
        <div class="form-group">
            <label for="title">Job Title</label>
            <input type="text" class="form-control" name="Input.Title">
        </div>
    </form>
</div>