@page
@model B4Interview.Pages.NewInterviewModel
@{
    ViewData["Title"] = "NewInterview";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="card w-75">
    <div class="card-body">
        <form>
            <div class="form-group">
                <label>Company Name</label>
                <input type="text" class="form-control typeahead" name="Input.Company" id="companySearch">
            </div>
            <div class="form-group">
                <label>Job Title</label>
                <input type="text" class="form-control w-50" name="Input.Title">
            </div>
            <div class="form-group">
                <label>Experience Required</label>
                <input type="text" class="form-control w-25" name="Input.Experience">
            </div>
            <div class="form-group">
                <label>Location</label>
                <input type="text" class="form-control w-50" name="Input.Location">
            </div>
            <div class="form-group">
                <label>Detail</label>
                <textarea rows="2" type="text" class="form-control" name="Input.Description"></textarea>
            </div>

            <div class="row">
                <div class="offset-10 col-2 float-right">
                    <button class="btn btn-sm btn-outline-primary" onclick="addRound()">Add Round</button>
                </div>
            </div><br />

            <div class="row" id="rounds">
            </div>

            <div class="col-12 d-none" id="roundTmpl">
                <div class="card small bg-light">
                    <div class="card-body">
                        <div class="row">
                            <div class="offset-9 col-3">
                                <label>Select Round</label>
                                <select name="Input.Rounds.Type" class="form-control">
                                    @foreach (RoundType roundType in Enum.GetValues(typeof(RoundType)))
                                    {
                                        <option value="@((short)roundType)">@roundType.ToString()</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <label>Round Overview</label>
                                <textarea class="form-control" name="Input.Rounds.Desc" rows="1"></textarea>
                            </div>
                        </div>
                        <div id="questions" class="small">
                            <br />
                            <div class="card">
                                <div class="card-header">
                                    <ul class="nav nav-pills float-right card-header-pills">
                                        <li class="nav-item">
                                            <a class="nav-link active" onclick="addQuestion()">Add</a>
                                        </li>
                                    </ul>
                                    <h6 class="card-title"> Questions</h6>
                                </div>
                                <div class="card-body">
                                    <div class="row mb-3">
                                        <div class="col-9">
                                            <textarea rows="2" class="form-control" name="Input.Rounds.Questions.Question"></textarea>
                                        </div>
                                        <div class="col-3">
                                            <input type="text" class="form-control typeahead" placeholder="Skill" id="skillSearch" name="Input.Rounds.Questions.Skill" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3 d-none" id="qTmpl">
                            <div class="col-9">
                                <textarea rows="3" class="form-control" name="Input.Rounds.Questions.Question"></textarea>
                            </div>
                            <div class="col-3">
                                <input type="text" class="form-control typeahead" placeholder="Skill" id="skillSearch" name="Input.Rounds.Questions.Skill" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="form-group">
                <label>Source</label>
                <select name="Input.Source" class="form-control w-25">
                    @foreach (InterviewSource source in Enum.GetValues(typeof(InterviewSource)))
                    {
                        <option value="@((short)source)">@source.ToString()</option>
                    }
                </select>
            </div>
            <br />
            <div class="form-group">
                <button type="submit" class="btn btn-primary float-right">Save Interview</button>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <script>
        function addRound() {
            event.preventDefault();
            var clone = $('#roundTmpl').clone().removeClass('d-none');
            clone.find('#skillSearch').addClass('typeahead');
            $('#rounds').append(clone);
            skillsTypeahead();
        }

        function addQuestion() {
            event.preventDefault();
            var clone = $('#qTmpl').clone().removeClass('d-none');
            $('#questions .card-body').append(clone);
        }
    </script>
}